<head>
    <link rel="stylesheet" href="~/css/bookroom.css"/>
</head>

<body>



    <div class="bookroomwrapper">
        <div class="container py-5 position-relative z-index-1">
             <h1 class="mb-5">Book your own</h1>
<div class="row">
          
            <div class="col-7">
                <div class="mb-4 row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Customer Id</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputPassword">
                    </div>
                </div>
                <div class="mb-4 row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Customer Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputPassword">
                    </div>
                </div>
                <button type="button" class="btn btn-primary">Primary</button>

            </div>
            <div class="col-5"></div>
        </div>
        </div>
       
        




    </div>




    @* <div style="background-image: url('~/images/room3.jpg');" id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="booking-form">
                        <div class="form-header">
                            <h1>Book Your Room</h1>
                        </div>

                        <form action="/Payment/PaymentPage" method="Post">
                            <div class="form-group row">
                                <label for="id1" class="col-sm-2 col-form-label">Customer Id</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" id="id1" name="id1" readonly>
                                </div>
                            </div>
                            <br />
                            <div class="form-group row">
                                <label for="name" class="col-sm-2 col-form-label">Customer Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="name" name="name" readonly>
                                </div>
                            </div>
                            <br />
                            <div class="form-group row">
                                <label for="id2" class="col-sm-2 col-form-label">Room Number</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" id="id2" name="id2" readonly>
                                </div>
                            </div>
                            <br />

                            <div class="form-group row">
                                <label for="id1" class="col-sm-2 col-form-label">Property Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="id1" name="rent" readonly>
                                </div>
                            </div>
                            <br />
                            <div class="form-group row">
                                <label for="rent" class="col-sm-2 col-form-label">Rent to be pay</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" id="rent" name="rent" readonly>
                                </div>
                            </div>

                            <br />
                            <div class="form-group row">
                                <label for="date" class="col-sm-2 col-form-label">Booking Date</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" id="date" placeholder="Select Date">
                                </div>
                            </div>
                            <br />

                            <div class="form-group row">
                                <label for="photo" class="col-sm-2 col-form-label">Passport Photo</label>
                                <div class="col-sm-10">
                                    <input type="file" class="form-control" id="photo" name="photo"
                                        placeholder="Select Your Passport Photo">
                                </div>
                            </div>
                            <br />
                            <button class="btn btn-success btn-lg float-right" type="submit">Next >></button>
                            <br />
                        </form>
                    </div>
                </div>
            </div>
        </div> *@
</body>