
@{
    ViewData["Title"] = "About Us";
    <head>
    <link rel="stylesheet" href="~/css/theme.css"/>
</head>
}
<div class="bg-container">
<h1 class="p-5">@ViewData["Title"]</h1>

<p class="p-5">Looking to make your next move safe and easy? 
<br>
HomeAway is here for you!
<br>
We are Property listing service ready to help you find a Hostel or Paying Guest Accomodation for rent in the safest and easiest way possible.
<br>
We guide you through the entire rental journey - from browsing a comprehensive list of available rentals, filtering them according to your budget and area to contacting properties.
<br>
On HomeAway.com you can view detailed property information, such as photos, amenities in the area, without logging in to the site or submitting personal information.
<br>


</div>