@{
    ViewData["Title"] = "Contact Us ";
        <head>
    <link rel="stylesheet" href="~/css/theme.css"/>
</head>
}
<div class="bg-container">
<h1 class="p-5">@ViewData["Title"]</h1>
<p class="p-5">HomeAway Accomodation Search Support : 
<br>
Have you encountered any issues while browsing our site? Do you need help searching for the perfect apartment on HomeAway.com? For any inquiries please email us at HomeAwaySystem@HomeAway.com.
<br>
You may also find us on Facebook and Twitter.
<br>
List with HomeAway : 
<br>
Boost your listings exposure! Get more leads and better chances to fill vacancies with qualified residents. Want to have your properties listed on HomeAway.com? Learn more
<br>
HomeAway Headquarters : <br>

123 Engracia Avenue,
<br>
ShivajiNagar, Pune-411043

</p>
</div>