@{
    ViewData["Title"] = "Privacy Policy";
        <head>
    <link rel="stylesheet" href="~/css/theme.css"/>
</head>
}
<div class="bg-container">
<h1 class="p-5">@ViewData["Title"]</h1>

<p class="p-5">HomeAway is the owner of this site and wishes to express that your privacy is of the utmost concern to us. We guarantee to treat any information received from you with the highest level of respect.
<br>
The information submitted to us will be used primarily for the purpose of creating successful matches between Properties and Customers. Any information received is necessary to provide a level of certainty of intent and to maximize credibility. 
<br>
The company will not sell, share or rent your confidential information to any independent third parties without your prior consent. 
</p>
</div>