@{
  ViewData["Title"]="SearchRoomDetails Page";
}


<form style="background-color: #ebf2fa; " action="SearchRoomDetails" method="Post">
  


 	 <div class="main-search-input-wrap">
       
     
    <div class="main-search-input fl-wrap">
        <div class="main-search-input-item">
        <input type="text"  id="btn" name="btn" value="" placeholder="Search Hostel/PG...">
        </div>
                                        
        <button class="btn btn-primary">Search</button>
        </div>
        </div>

</form>