@{
    ViewData["Title"] = "PGOwnerRegister Page";
}
<form action="/Account/Register" method="Post">
<div class="col-md-4 mb-3">
      <label for="validationCustom01">Enter Name</label>
      <input type="text" class="form-control" id="validationCustom01" name="Name" placeholder="Enter name" required>
      <div class="valid-feedback">
        Looks good!
      </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="i1">Email</label>
      <input type="email" class="form-control" id="i1" name="Email" placeholder="Email">
    </div>
    <div>
   <label for="inputPassword5">Password</label>
<input type="password" id="inputPassword5"  name="Pwd" class="form-control" aria-describedby="passwordHelpBlock">
<small id="passwordHelpBlock" class="form-text text-muted">
  Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
</small>
  </div>
    <div class="form-group">
    <label for="inputContact1">ContactNo</label>
    <input type="text" class="form-control" id="inputContact1" name="Contact" placeholder="ContactNo">
  </div>
   </div>
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
