@{
    ViewData["Title"] = "RegisterCustomer Page";
}

<form action="RegisterCustomer" method="Post">
    <div class="form-group row">
    <label for="cname" class="col-sm-2 col-form-label" style="font-weight:bold;font-size:20px;">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="cname" name="cname" placeholder="Enter your name">
    </div>
  </div><br>
  <div class="form-group row">
    <label for="contactNo" class="col-sm-2 col-form-label" style="font-weight:bold;font-size:20px;" >Contact Details</label>
    <div class="col-sm-10">
      <input type="tel" class="form-control" id="contactNo" name="contactNo" pattern="[7-9]{1}[0-9]{9}" placeholder="Contact number">
    </div>
    </div><br>
    <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label" style="font-weight:bold;font-size:20px;">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" placeholder="Email" name="email">
    </div>
    </div><br>
  <div class="form-group row">
    <label for="password" class="col-sm-2 col-form-label" style="font-weight:bold;font-size:20px;">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
  </div><br>

  <div class="form-group row">
    <div class="col-sm-10">
      <button style="text-align:center" type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>
</form>
